* {
	margin: 0px;
	line-height: 120%;
}

header h1 {
	font-family: 'Syncopate', sans-serif;
	padding: 15px;
}

header p {
	font-family: 'Kite One', sans-serif;
}

article p {
	display: inline-block;
}

header {
	text-align: center;
	background-color: #7ACCC8;
	height: 100px;
}

footer h3 {
	font-family: 'Englebert', sans-serif;
	margin: 10px auto 20px auto;
}

footer a {
	margin: 20px;
	font-family: 'Imprima', sans-serif;
	text-decoration: none;
	background-color: #E0E4CC;
	border-radius: 4px;
	font-size: 1.1em;
	padding: 5px;
	color: green;
}

#slides span {
	font-family: 'Imprima', sans-serif;
	font-weight: bolder;
	color: blue;
	font-size: 2em;
}

#slides p {
	font-size: 1.5em;
}

#contacts {
	position: absolute;
	left: 80%;
	bottom: 90%;
}

#projs {
	position: relative;
}

#items {
	position: relative;
	width: 15%;
	height: 560px;
	float: left;
	background-color: #E0E4CC;
}

#share {
	position: relative;
	width: 85%;
	height: 560px;
	float: right;
	background-image: url("images/fifth.png");
	background-repeat: repeat;
}

#intro {
	position: absolute;
	margin: 0;
	text-align: center;
	height: 560px;
	width: 100%;
}

#intro p {
	font-size: 2em;
	text-align: center;
	width: 800px;
	position: relative;
	margin: auto;
	top: 40%;
	font-family: cursive;
	color: #5A6A62;
}
#items a {
	display: block;
	margin: 30px;
	padding: 4px;
	border-radius: 2px;
	text-align: center;
	text-decoration: none;
	font-family: 'Text Me One', sans-serif;
	font-size: 1.2em;
}

.side {
	display: inline-block;
}

#contacts a {
	text-decoration: none;
	background-color: #E0E4CC;
	border-radius: 4px;
	font-size: 1.1em;
	padding: 5px;
	color: gray;
}

footer {
	text-align: center;
	margin: 0px;
	position: relative;
	clear: both;
	height: 120px;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #7ACCC8;
}

a:hover {
	font-weight: bolder;
	color: blue;
	text-decoration: underline;
}

#slides > div {
	display: none;
	background-color: #EFEFEF;
	text-align: center;
	position: relative;
	margin: 40px auto auto 30px;
}
